@{
    ViewData["Title"] = "Домашняя страница";
}

<div class="text-center">
    <h3 class="display-4">Добро пожаловать на уроки ASP.NET Core MVC</h3>
    <p>Узнать о <a href="https://geekbrains.ru/">создание веб-приложений с помощью  ASP.NET Core</a>.</p>
</div>
